
@{
    ViewBag.Title = "About";
}

<div class="inner-banner">
    <div class="container">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
            About Us
        </h2>
        <nav aria-label="breadcrumb">
            <ul id="breadcrumb" class="breadcrumb"><li class="breadcrumb-item"><a href=""> home </a></li><li class="active">About</li></ul>
        </nav>
    </div>
</div>
<div class="elementor-container elementor-column-gap-default">
    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a5c3888" data-id="a5c3888" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-71340c2 elementor-widget elementor-widget-bidout_address" data-id="71340c2" data-element_type="widget" data-widget_type="bidout_address.default">
                <div class="elementor-widget-container">
                    <div class="row g-4 d-flex justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="contact-signle hover-border1 d-flex flex-row align-items-center wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                @*<div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path d="M20 0C12.2459 0 5.9375 6.30844 5.9375 14.0625C5.9375 16.6823 6.6632 19.2391 8.03664 21.4572L19.1995 39.446C19.4134 39.7906 19.7901 40 20.1952 40C20.1984 40 20.2014 40 20.2045 40C20.6132 39.9968 20.9907 39.7809 21.2006 39.4303L32.079 21.2672C33.3766 19.0959 34.0625 16.6046 34.0625 14.0625C34.0625 6.30844 27.7541 0 20 0ZM30.0677 20.0639L20.1775 36.577L10.0287 20.2223C8.88547 18.3761 8.26563 16.2461 8.26563 14.0625C8.26563 7.60078 13.5383 2.32812 20 2.32812C26.4617 2.32812 31.7266 7.60078 31.7266 14.0625C31.7266 16.1813 31.1476 18.2569 30.0677 20.0639Z" fill="#5ECC76"></path><path d="M20 7.03125C16.123 7.03125 12.9688 10.1855 12.9688 14.0625C12.9688 17.9148 16.0716 21.0938 20 21.0938C23.9768 21.0938 27.0312 17.8724 27.0312 14.0625C27.0312 10.1855 23.877 7.03125 20 7.03125ZM20 18.7656C17.4018 18.7656 15.2969 16.6537 15.2969 14.0625C15.2969 11.4778 17.4153 9.35938 20 9.35938C22.5847 9.35938 24.6953 11.4778 24.6953 14.0625C24.6953 16.6159 22.6394 18.7656 20 18.7656Z" fill="#5ECC76"></path></svg>
                                </div>*@
                                <div class="text">
                                    <h4>About Us</h4>
                                    <p>We are a dedicated team of aspiring innovators and technology enthusiasts on a mission to revolutionize the world of auctions. Our project, the Automated Auction Management System, represents the culmination of our passion for efficiency, transparency, and modernization in the auction industry.</p>
                                </div>

                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="elementor-container elementor-column-gap-default">
    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a5c3888" data-id="a5c3888" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
            <div class="elementor-element elementor-element-71340c2 elementor-widget elementor-widget-bidout_address" data-id="71340c2" data-element_type="widget" data-widget_type="bidout_address.default">
                <div class="elementor-widget-container">
                    <div class="row g-4 d-flex justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="contact-signle hover-border1 d-flex flex-row align-items-center wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                <div class="text">
                                    <h4>Our Vision</h4>
                                    <p>Our vision is to transform traditional auctions into seamless and accessible experiences, where both auctioneers and bidders can thrive. We believe that technology can bring unprecedented efficiency and transparency to the auction process, making it a win-win for all participants.</p>
                                </div>


                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="contact-signle hover-border1 d-flex flex-row align-items-center wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">

                                <div class="text">
                                    <h4>Our Commitment</h4>
                                    <p>We are committed to providing a platform that empowers auctioneers to manage auctions effortlessly and bidders to engage in auctions with confidence. Our system is built with a focus on security, reliability, and user experience to ensure that everyone involved in an auction has a positive and productive experience.</p>
                                </div>


                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="contact-signle hover-border1 d-flex flex-row align-items-center wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">

                                <div class="text">
                                    <h4>Our Journey</h4>
                                    <p>Our journey began with a simple question: How can we make auctions more efficient and user-friendly? This question ignited our curiosity and drove us to develop this cutting-edge system. Throughout the development process, we combined our technical expertise with a deep understanding of auction dynamics to create a solution that addresses the real needs of auction houses, businesses, and organizations.</p>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<section class="elementor-section elementor-top-section elementor-element elementor-element-cb6c087 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="cb6c087" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-38269bc" data-id="38269bc" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-09d321b elementor-widget elementor-widget-bidout_testimonial" data-id="09d321b" data-element_type="widget" data-widget_type="bidout_testimonial.default">
                    <div class="elementor-widget-container">

                        <div class="testimonial-section pt-80 pb-80">
                            <img decoding="async" alt=" testimonial_image" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/client-right.png" class="client-right-vector">
                            <img decoding="async" alt=" testimonial_image" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/client-left.png" class="client-left-vector">
                            <img decoding="async" alt=" testimonial_image" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/clent-circle1.png" class="client-circle1">
                            <img decoding="async" alt=" testimonial_image" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/clent-circle2.png" class="client-circle2">
                            <img decoding="async" alt=" testimonial_image" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/clent-circle3.png" class="client-circle3">
                            <div class="container">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-">

                                        <div class="section-title1">
                                            <h2 class="testi-title">Our Mentors</h2>
                                            <p class="mb-60">We would like to mention our mentors who have guided us throughout our project and have made us feel that we should not hesitate to contact them.</p>
                                        </div>


                                    </div>
                                </div>
                                <div class="row justify-content-center position-relative">
                                    <div class="swiper testimonial-slider">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="testimonial-single hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                                    <div class="quote-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="28" viewBox="0 0 38 28" fill="none"><path d="M6.70166 1.32327C3.44346 4.49241 1.15752 8.87874 0.296586 13.5916C-0.0077112 15.2912 -0.0967737 18.3194 0.118461 19.7666C0.341117 21.2733 0.905179 22.7354 1.71416 23.908C3.72549 26.8248 7.41416 28.1014 10.895 27.092C12.2606 26.6987 13.3665 26.0307 14.4427 24.9545C15.4892 23.908 16.0458 23.0174 16.4837 21.7112C17.2036 19.5662 17.0478 17.2358 16.0606 15.2393C14.8657 12.8123 12.4759 11.0385 9.90791 10.66C8.83916 10.5041 8.95049 10.6006 9.00245 9.85101C9.11377 8.29241 9.7001 6.71155 10.8134 4.92288C11.4665 3.89124 11.5259 4.03968 9.64073 2.15452C7.65166 0.172878 7.83721 0.224833 6.70166 1.32327ZM9.50713 4.59632C8.77979 5.79124 8.16377 7.3053 7.90401 8.58929C7.74073 9.36858 7.71104 10.8752 7.85205 11.276C7.99307 11.6545 8.1712 11.751 8.90596 11.803C11.6001 12.0182 13.9083 13.6065 15.029 16.026C15.5263 17.0948 15.6228 17.5994 15.6153 19.0096C15.6153 20.1674 15.5931 20.3307 15.4075 20.9393C14.6579 23.4034 12.706 25.2959 10.2419 25.9565C9.3587 26.194 7.58487 26.2014 6.73877 25.9639C3.80713 25.1549 1.80323 22.728 1.33565 19.4252C1.22432 18.6088 1.23916 16.0409 1.37276 15.0018C1.57315 13.3764 1.90713 11.944 2.41182 10.5116C3.45088 7.56507 5.21729 4.6928 7.41416 2.39944L7.75557 2.05061L8.77979 3.07483L9.81143 4.10647L9.50713 4.59632Z" fill="#5ECC76"></path><path d="M27.4979 1.62755C23.9131 5.27912 21.6791 10.133 21.1447 15.4322C21.0186 16.7088 21.1002 19.3955 21.2858 20.3084C22.1541 24.4721 25.2268 27.2405 29.1752 27.4112C31.5576 27.5151 33.658 26.7432 35.3576 25.1326C36.7084 23.8487 37.5545 22.3049 37.8885 20.494C38.0592 19.5959 38.0072 17.7776 37.792 16.9612C36.9459 13.7846 34.5857 11.469 31.4315 10.7342C31.0826 10.6526 30.6744 10.5858 30.5186 10.5858C30.0584 10.5858 30.0287 10.5338 30.0881 9.80646C30.2143 8.28498 30.7709 6.77834 31.8916 4.93029C32.2924 4.27716 32.3666 4.10646 32.3295 3.92834C32.2924 3.7799 31.8174 3.24552 30.7783 2.20646C29.9471 1.38263 29.2197 0.670134 29.1604 0.633024C29.101 0.595915 28.9377 0.566227 28.7967 0.566227C28.5592 0.566227 28.4479 0.66271 27.4979 1.62755ZM30.3924 4.94513C29.2791 6.89709 28.6705 9.19045 28.8635 10.7268C28.9822 11.6842 29.0342 11.7287 29.9916 11.8029C33.0865 12.0479 35.5729 14.0444 36.4932 17.0205C36.6787 17.6217 36.6936 17.7701 36.6936 18.9725C36.6936 20.1748 36.6787 20.3233 36.4932 20.9244C35.8326 23.0545 34.5264 24.5834 32.5596 25.5037C31.5131 25.9936 30.86 26.1346 29.576 26.1346C28.6483 26.1346 28.3588 26.1049 27.8318 25.9639C25.2861 25.2811 23.3193 23.2104 22.644 20.5162C22.4065 19.5811 22.3471 18.9205 22.3397 17.4139C22.3397 14.1557 22.9928 11.2686 24.4104 8.32209C25.4494 6.16232 26.5479 4.5592 28.3217 2.61466L28.8338 2.05802L29.858 3.07482L30.8748 4.09162L30.3924 4.94513Z" fill="#5ECC76"></path></svg>
                                                    </div>
                                                    <div class="testi-img">
                                                        <img decoding="async" alt="image" src="https://media.licdn.com/dms/image/C4E03AQGwUk3oxGmDeg/profile-displayphoto-shrink_800_800/0/1517730702066?e=2147483647&v=beta&t=PgJ407fcBv5sY7g3YEISn75ri2YX7U8jyqWcAlPdkKw">
                                                    </div>
                                                    <div class="testi-content">
                                                        <p class="para">
                                                            He serves as our project coordinator and co-supervisor. His invaluable guidance and unwavering support have been instrumental in the success of our project. His expertise and dedication have consistently illuminated our path, and we are grateful for his mentorship.
                                                        </p>
                                                        <div class="testi-designation">
                                                            <h5><a>Dr Aarij Mahmood Hussan</a></h5>
                                                            <p>Co-ordinator / Co-supervisor</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <div class="swiper-slide">
                                                <div class="testimonial-single hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                                    <div class="quote-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="28" viewBox="0 0 38 28" fill="none"><path d="M6.70166 1.32327C3.44346 4.49241 1.15752 8.87874 0.296586 13.5916C-0.0077112 15.2912 -0.0967737 18.3194 0.118461 19.7666C0.341117 21.2733 0.905179 22.7354 1.71416 23.908C3.72549 26.8248 7.41416 28.1014 10.895 27.092C12.2606 26.6987 13.3665 26.0307 14.4427 24.9545C15.4892 23.908 16.0458 23.0174 16.4837 21.7112C17.2036 19.5662 17.0478 17.2358 16.0606 15.2393C14.8657 12.8123 12.4759 11.0385 9.90791 10.66C8.83916 10.5041 8.95049 10.6006 9.00245 9.85101C9.11377 8.29241 9.7001 6.71155 10.8134 4.92288C11.4665 3.89124 11.5259 4.03968 9.64073 2.15452C7.65166 0.172878 7.83721 0.224833 6.70166 1.32327ZM9.50713 4.59632C8.77979 5.79124 8.16377 7.3053 7.90401 8.58929C7.74073 9.36858 7.71104 10.8752 7.85205 11.276C7.99307 11.6545 8.1712 11.751 8.90596 11.803C11.6001 12.0182 13.9083 13.6065 15.029 16.026C15.5263 17.0948 15.6228 17.5994 15.6153 19.0096C15.6153 20.1674 15.5931 20.3307 15.4075 20.9393C14.6579 23.4034 12.706 25.2959 10.2419 25.9565C9.3587 26.194 7.58487 26.2014 6.73877 25.9639C3.80713 25.1549 1.80323 22.728 1.33565 19.4252C1.22432 18.6088 1.23916 16.0409 1.37276 15.0018C1.57315 13.3764 1.90713 11.944 2.41182 10.5116C3.45088 7.56507 5.21729 4.6928 7.41416 2.39944L7.75557 2.05061L8.77979 3.07483L9.81143 4.10647L9.50713 4.59632Z" fill="#5ECC76"></path><path d="M27.4979 1.62755C23.9131 5.27912 21.6791 10.133 21.1447 15.4322C21.0186 16.7088 21.1002 19.3955 21.2858 20.3084C22.1541 24.4721 25.2268 27.2405 29.1752 27.4112C31.5576 27.5151 33.658 26.7432 35.3576 25.1326C36.7084 23.8487 37.5545 22.3049 37.8885 20.494C38.0592 19.5959 38.0072 17.7776 37.792 16.9612C36.9459 13.7846 34.5857 11.469 31.4315 10.7342C31.0826 10.6526 30.6744 10.5858 30.5186 10.5858C30.0584 10.5858 30.0287 10.5338 30.0881 9.80646C30.2143 8.28498 30.7709 6.77834 31.8916 4.93029C32.2924 4.27716 32.3666 4.10646 32.3295 3.92834C32.2924 3.7799 31.8174 3.24552 30.7783 2.20646C29.9471 1.38263 29.2197 0.670134 29.1604 0.633024C29.101 0.595915 28.9377 0.566227 28.7967 0.566227C28.5592 0.566227 28.4479 0.66271 27.4979 1.62755ZM30.3924 4.94513C29.2791 6.89709 28.6705 9.19045 28.8635 10.7268C28.9822 11.6842 29.0342 11.7287 29.9916 11.8029C33.0865 12.0479 35.5729 14.0444 36.4932 17.0205C36.6787 17.6217 36.6936 17.7701 36.6936 18.9725C36.6936 20.1748 36.6787 20.3233 36.4932 20.9244C35.8326 23.0545 34.5264 24.5834 32.5596 25.5037C31.5131 25.9936 30.86 26.1346 29.576 26.1346C28.6483 26.1346 28.3588 26.1049 27.8318 25.9639C25.2861 25.2811 23.3193 23.2104 22.644 20.5162C22.4065 19.5811 22.3471 18.9205 22.3397 17.4139C22.3397 14.1557 22.9928 11.2686 24.4104 8.32209C25.4494 6.16232 26.5479 4.5592 28.3217 2.61466L28.8338 2.05802L29.858 3.07482L30.8748 4.09162L30.3924 4.94513Z" fill="#5ECC76"></path></svg>
                                                    </div>
                                                    <div class="testi-img">
                                                        <img decoding="async" alt="image" src="https://avatars.githubusercontent.com/u/3054359?v=4">
                                                    </div>
                                                    <div class="testi-content">
                                                        <p class="para">Dr. Abdul Ahad Abro is our esteemed supervisor whose mentorship has been a cornerstone of our project's success. His dedication, wisdom, and unwavering support have illuminated our path, guiding us to reach new heights in our academic journey. We are immensely grateful for his invaluable contributions to our project.</p>
                                                        <div class="testi-designation">
                                                            <h5><a>Dr Abdul Ahad Abro</a></h5>
                                                            <p>Supervisor</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="slider-arrows testimonial2-arrow d-flex justify-content-between gap-3">
                                        <div class="testi-prev1 swiper-prev-arrow" tabindex="0" role="button"
                                             aria-label="Previous slide"><i class="bi bi-arrow-left"></i></div>
                                        <div class="testi-next1 swiper-next-arrow" tabindex="0" role="button"
                                             aria-label="Next slide">
                                            <i class="bi bi-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-cb6c087 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="cb6c087" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-38269bc" data-id="38269bc" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-09d321b elementor-widget elementor-widget-bidout_testimonial" data-id="09d321b" data-element_type="widget" data-widget_type="bidout_testimonial.default">
                    <div class="elementor-widget-container">

                        <div class="testimonial-section pt-80 pb-80">
                            <img decoding="async" alt=" testimonial_image" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/client-right.png" class="client-right-vector">
                            <img decoding="async" alt=" testimonial_image" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/client-left.png" class="client-left-vector">
                            <img decoding="async" alt=" testimonial_image" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/clent-circle1.png" class="client-circle1">
                            <img decoding="async" alt=" testimonial_image" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/clent-circle2.png" class="client-circle2">
                            <img decoding="async" alt=" testimonial_image" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/clent-circle3.png" class="client-circle3">
                            <div class="container">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-">

                                        <div class="section-title1">
                                            <h2 class="testi-title">Our Team</h2>
                                            <p class="mb-60">Our dedicated team comprises talented individuals who work tirelessly to bring our project to life. With diverse skills and unwavering commitment, they ensure the success of our mission.</p>
                                        </div>


                                    </div>
                                </div>
                                <div class="row justify-content-center position-relative">
                                    <div class="swiper testimonial-slider">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="testimonial-single hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                                    <div class="quote-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="28" viewBox="0 0 38 28" fill="none"><path d="M6.70166 1.32327C3.44346 4.49241 1.15752 8.87874 0.296586 13.5916C-0.0077112 15.2912 -0.0967737 18.3194 0.118461 19.7666C0.341117 21.2733 0.905179 22.7354 1.71416 23.908C3.72549 26.8248 7.41416 28.1014 10.895 27.092C12.2606 26.6987 13.3665 26.0307 14.4427 24.9545C15.4892 23.908 16.0458 23.0174 16.4837 21.7112C17.2036 19.5662 17.0478 17.2358 16.0606 15.2393C14.8657 12.8123 12.4759 11.0385 9.90791 10.66C8.83916 10.5041 8.95049 10.6006 9.00245 9.85101C9.11377 8.29241 9.7001 6.71155 10.8134 4.92288C11.4665 3.89124 11.5259 4.03968 9.64073 2.15452C7.65166 0.172878 7.83721 0.224833 6.70166 1.32327ZM9.50713 4.59632C8.77979 5.79124 8.16377 7.3053 7.90401 8.58929C7.74073 9.36858 7.71104 10.8752 7.85205 11.276C7.99307 11.6545 8.1712 11.751 8.90596 11.803C11.6001 12.0182 13.9083 13.6065 15.029 16.026C15.5263 17.0948 15.6228 17.5994 15.6153 19.0096C15.6153 20.1674 15.5931 20.3307 15.4075 20.9393C14.6579 23.4034 12.706 25.2959 10.2419 25.9565C9.3587 26.194 7.58487 26.2014 6.73877 25.9639C3.80713 25.1549 1.80323 22.728 1.33565 19.4252C1.22432 18.6088 1.23916 16.0409 1.37276 15.0018C1.57315 13.3764 1.90713 11.944 2.41182 10.5116C3.45088 7.56507 5.21729 4.6928 7.41416 2.39944L7.75557 2.05061L8.77979 3.07483L9.81143 4.10647L9.50713 4.59632Z" fill="#5ECC76"></path><path d="M27.4979 1.62755C23.9131 5.27912 21.6791 10.133 21.1447 15.4322C21.0186 16.7088 21.1002 19.3955 21.2858 20.3084C22.1541 24.4721 25.2268 27.2405 29.1752 27.4112C31.5576 27.5151 33.658 26.7432 35.3576 25.1326C36.7084 23.8487 37.5545 22.3049 37.8885 20.494C38.0592 19.5959 38.0072 17.7776 37.792 16.9612C36.9459 13.7846 34.5857 11.469 31.4315 10.7342C31.0826 10.6526 30.6744 10.5858 30.5186 10.5858C30.0584 10.5858 30.0287 10.5338 30.0881 9.80646C30.2143 8.28498 30.7709 6.77834 31.8916 4.93029C32.2924 4.27716 32.3666 4.10646 32.3295 3.92834C32.2924 3.7799 31.8174 3.24552 30.7783 2.20646C29.9471 1.38263 29.2197 0.670134 29.1604 0.633024C29.101 0.595915 28.9377 0.566227 28.7967 0.566227C28.5592 0.566227 28.4479 0.66271 27.4979 1.62755ZM30.3924 4.94513C29.2791 6.89709 28.6705 9.19045 28.8635 10.7268C28.9822 11.6842 29.0342 11.7287 29.9916 11.8029C33.0865 12.0479 35.5729 14.0444 36.4932 17.0205C36.6787 17.6217 36.6936 17.7701 36.6936 18.9725C36.6936 20.1748 36.6787 20.3233 36.4932 20.9244C35.8326 23.0545 34.5264 24.5834 32.5596 25.5037C31.5131 25.9936 30.86 26.1346 29.576 26.1346C28.6483 26.1346 28.3588 26.1049 27.8318 25.9639C25.2861 25.2811 23.3193 23.2104 22.644 20.5162C22.4065 19.5811 22.3471 18.9205 22.3397 17.4139C22.3397 14.1557 22.9928 11.2686 24.4104 8.32209C25.4494 6.16232 26.5479 4.5592 28.3217 2.61466L28.8338 2.05802L29.858 3.07482L30.8748 4.09162L30.3924 4.94513Z" fill="#5ECC76"></path></svg>
                                                    </div>
                                                    <div class="testi-img">
                                                        <img decoding="async" alt="image" src="https://media.licdn.com/dms/image/D4D03AQFkYqUf9gX3gA/profile-displayphoto-shrink_800_800/0/1673982707365?e=1701907200&v=beta&t=SWXqZ4N8EiB8Bcy2sAoETtpQoD0CD5a94z9wBf8uKLE">
                                                    </div>
                                                    <div class="testi-content">
                                                        <p class="para">
                                                            She is the driving force behind our team, serving as the lead developer responsible for .NET and frontend development in our project. Her technical prowess and creative vision have shaped our project's user interface and functionality. With her dedication and expertise, she has played a pivotal role in bringing our project to life, ensuring a seamless and user-friendly experience for all.
                                                        </p>
                                                        <div class="testi-designation">
                                                            <h5><a>Wajiha Jawwad Ali</a></h5>
                                                            <p>Team Lead / Full Stack (.NET + Frontend)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="swiper-slide">
                                                <div class="testimonial-single hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                                    <div class="quote-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="28" viewBox="0 0 38 28" fill="none"><path d="M6.70166 1.32327C3.44346 4.49241 1.15752 8.87874 0.296586 13.5916C-0.0077112 15.2912 -0.0967737 18.3194 0.118461 19.7666C0.341117 21.2733 0.905179 22.7354 1.71416 23.908C3.72549 26.8248 7.41416 28.1014 10.895 27.092C12.2606 26.6987 13.3665 26.0307 14.4427 24.9545C15.4892 23.908 16.0458 23.0174 16.4837 21.7112C17.2036 19.5662 17.0478 17.2358 16.0606 15.2393C14.8657 12.8123 12.4759 11.0385 9.90791 10.66C8.83916 10.5041 8.95049 10.6006 9.00245 9.85101C9.11377 8.29241 9.7001 6.71155 10.8134 4.92288C11.4665 3.89124 11.5259 4.03968 9.64073 2.15452C7.65166 0.172878 7.83721 0.224833 6.70166 1.32327ZM9.50713 4.59632C8.77979 5.79124 8.16377 7.3053 7.90401 8.58929C7.74073 9.36858 7.71104 10.8752 7.85205 11.276C7.99307 11.6545 8.1712 11.751 8.90596 11.803C11.6001 12.0182 13.9083 13.6065 15.029 16.026C15.5263 17.0948 15.6228 17.5994 15.6153 19.0096C15.6153 20.1674 15.5931 20.3307 15.4075 20.9393C14.6579 23.4034 12.706 25.2959 10.2419 25.9565C9.3587 26.194 7.58487 26.2014 6.73877 25.9639C3.80713 25.1549 1.80323 22.728 1.33565 19.4252C1.22432 18.6088 1.23916 16.0409 1.37276 15.0018C1.57315 13.3764 1.90713 11.944 2.41182 10.5116C3.45088 7.56507 5.21729 4.6928 7.41416 2.39944L7.75557 2.05061L8.77979 3.07483L9.81143 4.10647L9.50713 4.59632Z" fill="#5ECC76"></path><path d="M27.4979 1.62755C23.9131 5.27912 21.6791 10.133 21.1447 15.4322C21.0186 16.7088 21.1002 19.3955 21.2858 20.3084C22.1541 24.4721 25.2268 27.2405 29.1752 27.4112C31.5576 27.5151 33.658 26.7432 35.3576 25.1326C36.7084 23.8487 37.5545 22.3049 37.8885 20.494C38.0592 19.5959 38.0072 17.7776 37.792 16.9612C36.9459 13.7846 34.5857 11.469 31.4315 10.7342C31.0826 10.6526 30.6744 10.5858 30.5186 10.5858C30.0584 10.5858 30.0287 10.5338 30.0881 9.80646C30.2143 8.28498 30.7709 6.77834 31.8916 4.93029C32.2924 4.27716 32.3666 4.10646 32.3295 3.92834C32.2924 3.7799 31.8174 3.24552 30.7783 2.20646C29.9471 1.38263 29.2197 0.670134 29.1604 0.633024C29.101 0.595915 28.9377 0.566227 28.7967 0.566227C28.5592 0.566227 28.4479 0.66271 27.4979 1.62755ZM30.3924 4.94513C29.2791 6.89709 28.6705 9.19045 28.8635 10.7268C28.9822 11.6842 29.0342 11.7287 29.9916 11.8029C33.0865 12.0479 35.5729 14.0444 36.4932 17.0205C36.6787 17.6217 36.6936 17.7701 36.6936 18.9725C36.6936 20.1748 36.6787 20.3233 36.4932 20.9244C35.8326 23.0545 34.5264 24.5834 32.5596 25.5037C31.5131 25.9936 30.86 26.1346 29.576 26.1346C28.6483 26.1346 28.3588 26.1049 27.8318 25.9639C25.2861 25.2811 23.3193 23.2104 22.644 20.5162C22.4065 19.5811 22.3471 18.9205 22.3397 17.4139C22.3397 14.1557 22.9928 11.2686 24.4104 8.32209C25.4494 6.16232 26.5479 4.5592 28.3217 2.61466L28.8338 2.05802L29.858 3.07482L30.8748 4.09162L30.3924 4.94513Z" fill="#5ECC76"></path></svg>
                                                    </div>
                                                    <div class="testi-img">
                                                        <img decoding="async" alt="image" src="https://media.licdn.com/dms/image/D4D03AQGj8vjASr-qBw/profile-displayphoto-shrink_800_800/0/1672887267030?e=1701907200&v=beta&t=GJXGYwU_n5W2YSECLm8t29HFn8Wpimr0iFm2A5_X5mo">
                                                    </div>
                                                    <div class="testi-content">
                                                        <p class="para">He is a crucial member of our team, specializing in backend development with a focus on .NET and SQL technologies. His technical acumen and proficiency in database management have been instrumental in creating a robust and efficient backend infrastructure for our project. </p>
                                                        <div class="testi-designation">
                                                            <h5><a>Abdul Qadir Abdul Latif</a></h5>
                                                            <p>Backend Developer (.NET + SQL)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="testimonial-single hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                                    <div class="quote-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="28" viewBox="0 0 38 28" fill="none"><path d="M6.70166 1.32327C3.44346 4.49241 1.15752 8.87874 0.296586 13.5916C-0.0077112 15.2912 -0.0967737 18.3194 0.118461 19.7666C0.341117 21.2733 0.905179 22.7354 1.71416 23.908C3.72549 26.8248 7.41416 28.1014 10.895 27.092C12.2606 26.6987 13.3665 26.0307 14.4427 24.9545C15.4892 23.908 16.0458 23.0174 16.4837 21.7112C17.2036 19.5662 17.0478 17.2358 16.0606 15.2393C14.8657 12.8123 12.4759 11.0385 9.90791 10.66C8.83916 10.5041 8.95049 10.6006 9.00245 9.85101C9.11377 8.29241 9.7001 6.71155 10.8134 4.92288C11.4665 3.89124 11.5259 4.03968 9.64073 2.15452C7.65166 0.172878 7.83721 0.224833 6.70166 1.32327ZM9.50713 4.59632C8.77979 5.79124 8.16377 7.3053 7.90401 8.58929C7.74073 9.36858 7.71104 10.8752 7.85205 11.276C7.99307 11.6545 8.1712 11.751 8.90596 11.803C11.6001 12.0182 13.9083 13.6065 15.029 16.026C15.5263 17.0948 15.6228 17.5994 15.6153 19.0096C15.6153 20.1674 15.5931 20.3307 15.4075 20.9393C14.6579 23.4034 12.706 25.2959 10.2419 25.9565C9.3587 26.194 7.58487 26.2014 6.73877 25.9639C3.80713 25.1549 1.80323 22.728 1.33565 19.4252C1.22432 18.6088 1.23916 16.0409 1.37276 15.0018C1.57315 13.3764 1.90713 11.944 2.41182 10.5116C3.45088 7.56507 5.21729 4.6928 7.41416 2.39944L7.75557 2.05061L8.77979 3.07483L9.81143 4.10647L9.50713 4.59632Z" fill="#5ECC76"></path><path d="M27.4979 1.62755C23.9131 5.27912 21.6791 10.133 21.1447 15.4322C21.0186 16.7088 21.1002 19.3955 21.2858 20.3084C22.1541 24.4721 25.2268 27.2405 29.1752 27.4112C31.5576 27.5151 33.658 26.7432 35.3576 25.1326C36.7084 23.8487 37.5545 22.3049 37.8885 20.494C38.0592 19.5959 38.0072 17.7776 37.792 16.9612C36.9459 13.7846 34.5857 11.469 31.4315 10.7342C31.0826 10.6526 30.6744 10.5858 30.5186 10.5858C30.0584 10.5858 30.0287 10.5338 30.0881 9.80646C30.2143 8.28498 30.7709 6.77834 31.8916 4.93029C32.2924 4.27716 32.3666 4.10646 32.3295 3.92834C32.2924 3.7799 31.8174 3.24552 30.7783 2.20646C29.9471 1.38263 29.2197 0.670134 29.1604 0.633024C29.101 0.595915 28.9377 0.566227 28.7967 0.566227C28.5592 0.566227 28.4479 0.66271 27.4979 1.62755ZM30.3924 4.94513C29.2791 6.89709 28.6705 9.19045 28.8635 10.7268C28.9822 11.6842 29.0342 11.7287 29.9916 11.8029C33.0865 12.0479 35.5729 14.0444 36.4932 17.0205C36.6787 17.6217 36.6936 17.7701 36.6936 18.9725C36.6936 20.1748 36.6787 20.3233 36.4932 20.9244C35.8326 23.0545 34.5264 24.5834 32.5596 25.5037C31.5131 25.9936 30.86 26.1346 29.576 26.1346C28.6483 26.1346 28.3588 26.1049 27.8318 25.9639C25.2861 25.2811 23.3193 23.2104 22.644 20.5162C22.4065 19.5811 22.3471 18.9205 22.3397 17.4139C22.3397 14.1557 22.9928 11.2686 24.4104 8.32209C25.4494 6.16232 26.5479 4.5592 28.3217 2.61466L28.8338 2.05802L29.858 3.07482L30.8748 4.09162L30.3924 4.94513Z" fill="#5ECC76"></path></svg>
                                                    </div>
                                                    <div class="testi-img">
                                                        <img decoding="async" alt="image" src="~/image/IMG_4887.jpg">
                                                    </div>
                                                    <div class="testi-content">
                                                        <p class="para">He is a versatile and skilled full-stack developer on our team, proficient in both SQL and frontend technologies. With a strong grasp of database management using SQL and a keen eye for frontend development, He brings a holistic approach to our project.</p>
                                                        <div class="testi-designation">
                                                            <h5><a>Yasir Mehboob</a></h5>
                                                            <p>Full Stack (SQL + Frontend)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="testimonial-single hover-border1 wow fadeInDown" data-wow-duration="1.5s" data-wow-delay=".2s">
                                                    <div class="quote-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="38" height="28" viewBox="0 0 38 28" fill="none"><path d="M6.70166 1.32327C3.44346 4.49241 1.15752 8.87874 0.296586 13.5916C-0.0077112 15.2912 -0.0967737 18.3194 0.118461 19.7666C0.341117 21.2733 0.905179 22.7354 1.71416 23.908C3.72549 26.8248 7.41416 28.1014 10.895 27.092C12.2606 26.6987 13.3665 26.0307 14.4427 24.9545C15.4892 23.908 16.0458 23.0174 16.4837 21.7112C17.2036 19.5662 17.0478 17.2358 16.0606 15.2393C14.8657 12.8123 12.4759 11.0385 9.90791 10.66C8.83916 10.5041 8.95049 10.6006 9.00245 9.85101C9.11377 8.29241 9.7001 6.71155 10.8134 4.92288C11.4665 3.89124 11.5259 4.03968 9.64073 2.15452C7.65166 0.172878 7.83721 0.224833 6.70166 1.32327ZM9.50713 4.59632C8.77979 5.79124 8.16377 7.3053 7.90401 8.58929C7.74073 9.36858 7.71104 10.8752 7.85205 11.276C7.99307 11.6545 8.1712 11.751 8.90596 11.803C11.6001 12.0182 13.9083 13.6065 15.029 16.026C15.5263 17.0948 15.6228 17.5994 15.6153 19.0096C15.6153 20.1674 15.5931 20.3307 15.4075 20.9393C14.6579 23.4034 12.706 25.2959 10.2419 25.9565C9.3587 26.194 7.58487 26.2014 6.73877 25.9639C3.80713 25.1549 1.80323 22.728 1.33565 19.4252C1.22432 18.6088 1.23916 16.0409 1.37276 15.0018C1.57315 13.3764 1.90713 11.944 2.41182 10.5116C3.45088 7.56507 5.21729 4.6928 7.41416 2.39944L7.75557 2.05061L8.77979 3.07483L9.81143 4.10647L9.50713 4.59632Z" fill="#5ECC76"></path><path d="M27.4979 1.62755C23.9131 5.27912 21.6791 10.133 21.1447 15.4322C21.0186 16.7088 21.1002 19.3955 21.2858 20.3084C22.1541 24.4721 25.2268 27.2405 29.1752 27.4112C31.5576 27.5151 33.658 26.7432 35.3576 25.1326C36.7084 23.8487 37.5545 22.3049 37.8885 20.494C38.0592 19.5959 38.0072 17.7776 37.792 16.9612C36.9459 13.7846 34.5857 11.469 31.4315 10.7342C31.0826 10.6526 30.6744 10.5858 30.5186 10.5858C30.0584 10.5858 30.0287 10.5338 30.0881 9.80646C30.2143 8.28498 30.7709 6.77834 31.8916 4.93029C32.2924 4.27716 32.3666 4.10646 32.3295 3.92834C32.2924 3.7799 31.8174 3.24552 30.7783 2.20646C29.9471 1.38263 29.2197 0.670134 29.1604 0.633024C29.101 0.595915 28.9377 0.566227 28.7967 0.566227C28.5592 0.566227 28.4479 0.66271 27.4979 1.62755ZM30.3924 4.94513C29.2791 6.89709 28.6705 9.19045 28.8635 10.7268C28.9822 11.6842 29.0342 11.7287 29.9916 11.8029C33.0865 12.0479 35.5729 14.0444 36.4932 17.0205C36.6787 17.6217 36.6936 17.7701 36.6936 18.9725C36.6936 20.1748 36.6787 20.3233 36.4932 20.9244C35.8326 23.0545 34.5264 24.5834 32.5596 25.5037C31.5131 25.9936 30.86 26.1346 29.576 26.1346C28.6483 26.1346 28.3588 26.1049 27.8318 25.9639C25.2861 25.2811 23.3193 23.2104 22.644 20.5162C22.4065 19.5811 22.3471 18.9205 22.3397 17.4139C22.3397 14.1557 22.9928 11.2686 24.4104 8.32209C25.4494 6.16232 26.5479 4.5592 28.3217 2.61466L28.8338 2.05802L29.858 3.07482L30.8748 4.09162L30.3924 4.94513Z" fill="#5ECC76"></path></svg>
                                                    </div>
                                                    <div class="testi-img">
                                                        <img decoding="async" alt="image" src="https://media.licdn.com/dms/image/D4D03AQFGco9QAVWUdQ/profile-displayphoto-shrink_800_800/0/1683932621710?e=1701907200&v=beta&t=TQr75b7gilxPXAYiSIMxA4MRuq6jgQPYfktUpo6FFvs">
                                                    </div>
                                                    <div class="testi-content">
                                                        <p class="para">He is a highly skilled frontend developer on our team. With a keen eye for design and user experience, he has been instrumental in crafting the visually appealing and user-friendly aspects of our project. Their expertise in frontend technologies has played a pivotal role in creating an engaging and responsive interface for our system.</p>
                                                        <div class="testi-designation">
                                                            <h5><a>Ibrar Ali</a></h5>
                                                            <p>Frontend Developer</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="slider-arrows testimonial2-arrow d-flex justify-content-between gap-3">
                                        <div class="testi-prev1 swiper-prev-arrow" tabindex="0" role="button"
                                             aria-label="Previous slide"><i class="bi bi-arrow-left"></i></div>
                                        <div class="testi-next1 swiper-next-arrow" tabindex="0" role="button"
                                             aria-label="Next slide">
                                            <i class="bi bi-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>