
@{
    ViewBag.Title = "BrowseProduct";
}

<div class="inner-banner">
    <div class="container">
        <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
            Shop
        </h2>
        <nav class="breadcrumb" aria-label="breadcrumb">
            <div id="primary" class="content-area"><main id="main" class="site-main" role="main"><nav class="woocommerce-breadcrumb"><a href="https://www.bidout-wp.egenslab.com">Home</a>&nbsp;&#47;&nbsp;Shop</nav>
        </nav>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center WC_Product_Wrap">
        <div class="product-toolbox">
            
        </div>
        <div class="col-lg-9">
            <div class="products columns-3 clearfix">
                <div class="row gy-4">
                    <div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="eg-card auction-card1">
                            <div class="auction-img">
                                <img loading="lazy" width="600" height="600" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/eric-prouzet-WTteoDYo4do-unsplash-1-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/eric-prouzet-WTteoDYo4do-unsplash-1-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/eric-prouzet-WTteoDYo4do-unsplash-1-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />													<div class="auction-timer">
                                    <div class="auction-time">
                                        <div class="main-auction auction-time-countdown" data-time="1735603200" data-auctionid="1122" data-format="dHMS"></div>
                                    </div>
                                </div>

                                <div class="author-area">
                                    <div class="author-emo">
                                        <img  alt='' src='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=30&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=60&#038;d=mm&#038;r=g ' class='avatar avatar-30 photo' decoding='async' />
                                    </div>
                                    <div class="author-name">
                                        <a href="https://www.bidout-wp.egenslab.com/store/egenslab/">
                                            Egens Lab
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="auction-content">
                                <a href="https://www.bidout-wp.egenslab.com/product/alarm-clock-1990s/"><h2 class="woocommerce-loop-product__title">Alarm Clock 1990&#8217;s</h2></a>
                                <p>
                                    <span class="price"><span class="auction-price current-bid" data-auction-id="1122" data-bid="343" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount">343.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span></span>
                                </p>
                                <div class="auction-card-bttm">
                                    <a href="https://www.bidout-wp.egenslab.com/product/alarm-clock-1990s/" data-quantity="1" class="button product_type_auction" data-product_id="1122" data-product_sku="" aria-label="Read more about &ldquo;Alarm Clock 1990&#039;s&rdquo;" aria-describedby="" rel="nofollow">Bid now</a>															<div class="share-area">
                                        <ul class="social-icons d-flex">
                                            <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://www.bidout-wp.egenslab.com/product/alarm-clock-1990s/"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="http://www.twitter.com/share?url=https://www.bidout-wp.egenslab.com/product/alarm-clock-1990s/"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="https://pinterest.com/pin/create/button/?url=https://www.bidout-wp.egenslab.com/product/alarm-clock-1990s/"><i class="bx bxl-instagram"></i></a></li>
                                            <li><a href="http://www.instagram.com/share?url=https://www.bidout-wp.egenslab.com/product/alarm-clock-1990s/"><i class="bx bxl-pinterest"></i></a></li>
                                        </ul>
                                        <div>
                                            <div class="share-btn"><i class='bx bxs-share-alt'></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>				<div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="eg-card auction-card1">
                            <div class="auction-img">
                                <img loading="lazy" style="height: 220px" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-1-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-1-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-1-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />													<div class="auction-timer">
                                    <div class="auction-time">
                                        <div class="main-auction auction-time-countdown" data-time="1735603200" data-auctionid="737" data-format="dHMS"></div>
                                    </div>
                                </div>

                                <div class="author-area">
                                    <div class="author-emo">
                                        <img alt='' src='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=30&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=60&#038;d=mm&#038;r=g 2x' class='avatar avatar-30 photo' height='30' width='30' decoding='async' />
                                    </div>
                                    <div class="author-name">
                                        <a href="https://www.bidout-wp.egenslab.com/store/egenslab/">
                                            Egens Lab
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="auction-content">
                                <a href="https://www.bidout-wp.egenslab.com/product/black-analogue-watch/"><h2 class="woocommerce-loop-product__title">Black Analogue Watch</h2></a>
                                <p>
                                    <span class="price"><span class="auction-price current-bid" data-auction-id="737" data-bid="840" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount">840.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span></span>
                                </p>
                                <div class="auction-card-bttm">
                                    <a href="https://www.bidout-wp.egenslab.com/product/black-analogue-watch/" data-quantity="1" class="button product_type_auction" data-product_id="737" data-product_sku="" aria-label="Read more about &ldquo;Black Analogue Watch&rdquo;" aria-describedby="" rel="nofollow">Bid now</a>															<div class="share-area">
                                        <ul class="social-icons d-flex">
                                            <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://www.bidout-wp.egenslab.com/product/black-analogue-watch/"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="http://www.twitter.com/share?url=https://www.bidout-wp.egenslab.com/product/black-analogue-watch/"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="https://pinterest.com/pin/create/button/?url=https://www.bidout-wp.egenslab.com/product/black-analogue-watch/"><i class="bx bxl-instagram"></i></a></li>
                                            <li><a href="http://www.instagram.com/share?url=https://www.bidout-wp.egenslab.com/product/black-analogue-watch/"><i class="bx bxl-pinterest"></i></a></li>
                                        </ul>
                                        <div>
                                            <div class="share-btn"><i class='bx bxs-share-alt'></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>				<div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="eg-card auction-card1">
                            <div class="auction-img">
                                <img loading="lazy" width="600" height="600" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-14-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-14-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-14-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />													<div class="auction-timer">
                                    <div class="auction-time">
                                        <div class="main-auction auction-time-countdown" data-time="1735603200" data-auctionid="1637" data-format="dHMS"></div>
                                    </div>
                                </div>

                                <div class="author-area">
                                    <div class="author-emo">
                                        <img alt='' src='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=30&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=60&#038;d=mm&#038;r=g 2x' class='avatar avatar-30 photo' height='30' width='30' decoding='async' />
                                    </div>
                                    <div class="author-name">
                                        <a href="https://www.bidout-wp.egenslab.com/store/egenslab/">
                                            Egens Lab
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="auction-content">
                                <a href="https://www.bidout-wp.egenslab.com/product/couple-wedding-ring/"><h2 class="woocommerce-loop-product__title">Couple Wedding Ring</h2></a>
                                <p>
                                    <span class="price"><span class="auction-price current-bid" data-auction-id="1637" data-bid="3269" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount">3,269.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span></span>
                                </p>
                                <div class="auction-card-bttm">
                                    <a href="https://www.bidout-wp.egenslab.com/product/couple-wedding-ring/" data-quantity="1" class="button product_type_auction" data-product_id="1637" data-product_sku="" aria-label="Read more about &ldquo;Couple Wedding Ring&rdquo;" aria-describedby="" rel="nofollow">Bid now</a>															<div class="share-area">
                                        <ul class="social-icons d-flex">
                                            <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://www.bidout-wp.egenslab.com/product/couple-wedding-ring/"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="http://www.twitter.com/share?url=https://www.bidout-wp.egenslab.com/product/couple-wedding-ring/"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="https://pinterest.com/pin/create/button/?url=https://www.bidout-wp.egenslab.com/product/couple-wedding-ring/"><i class="bx bxl-instagram"></i></a></li>
                                            <li><a href="http://www.instagram.com/share?url=https://www.bidout-wp.egenslab.com/product/couple-wedding-ring/"><i class="bx bxl-pinterest"></i></a></li>
                                        </ul>
                                        <div>
                                            <div class="share-btn"><i class='bx bxs-share-alt'></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>				<div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="eg-card auction-card1">
                            <div class="auction-img">
                                <img loading="lazy" width="600" height="600" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-10-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-10-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-10-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />													<div class="auction-timer">
                                    <div class="auction-time">
                                        <div class="main-auction auction-time-countdown" data-time="1735603200" data-auctionid="636" data-format="dHMS"></div>
                                    </div>
                                </div>

                                <div class="author-area">
                                    <div class="author-emo">
                                        <img alt='' src='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=30&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=60&#038;d=mm&#038;r=g 2x' class='avatar avatar-30 photo' height='30' width='30' decoding='async' />
                                    </div>
                                    <div class="author-name">
                                        <a href="https://www.bidout-wp.egenslab.com/store/egenslab/">
                                            Egens Lab
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="auction-content">
                                <a href="https://www.bidout-wp.egenslab.com/product/ford-shelby-white-car/"><h2 class="woocommerce-loop-product__title">Ford Shelby White Car</h2></a>
                                <p>
                                    <span class="price"><span class="auction-price current-bid" data-auction-id="636" data-bid="20000" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount">20,000.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span></span>
                                </p>
                                <div class="auction-card-bttm">
                                    <a href="https://www.bidout-wp.egenslab.com/product/ford-shelby-white-car/" data-quantity="1" class="button product_type_auction" data-product_id="636" data-product_sku="" aria-label="Read more about &ldquo;Ford Shelby White Car&rdquo;" aria-describedby="" rel="nofollow">Bid now</a>															<div class="share-area">
                                        <ul class="social-icons d-flex">
                                            <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://www.bidout-wp.egenslab.com/product/ford-shelby-white-car/"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="http://www.twitter.com/share?url=https://www.bidout-wp.egenslab.com/product/ford-shelby-white-car/"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="https://pinterest.com/pin/create/button/?url=https://www.bidout-wp.egenslab.com/product/ford-shelby-white-car/"><i class="bx bxl-instagram"></i></a></li>
                                            <li><a href="http://www.instagram.com/share?url=https://www.bidout-wp.egenslab.com/product/ford-shelby-white-car/"><i class="bx bxl-pinterest"></i></a></li>
                                        </ul>
                                        <div>
                                            <div class="share-btn"><i class='bx bxs-share-alt'></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>				<div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="eg-card auction-card1">
                            <div class="auction-img">
                                <img loading="lazy" width="600" height="600" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-9-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-9-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-9-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />													<div class="auction-timer">
                                    <div class="auction-time">
                                        <div class="main-auction auction-time-countdown" data-time="1735603200" data-auctionid="613" data-format="dHMS"></div>
                                    </div>
                                </div>

                                <div class="author-area">
                                    <div class="author-emo">
                                        <img alt='' src='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=30&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=60&#038;d=mm&#038;r=g 2x' class='avatar avatar-30 photo' height='30' width='30' decoding='async' />
                                    </div>
                                    <div class="author-name">
                                        <a href="https://www.bidout-wp.egenslab.com/store/egenslab/">
                                            Egens Lab
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="auction-content">
                                <a href="https://www.bidout-wp.egenslab.com/product/havit-hv-g61-usb-black-double-game-vibrat/"><h2 class="woocommerce-loop-product__title">Havit HV-G61 Gamepad</h2></a>
                                <p>
                                    <span class="price"><span class="auction-price starting-bid" data-auction-id="613" data-bid="" data-status="running"><span class="current auction">Starting bid:</span> <span class="woocommerce-Price-amount amount">1,800.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span></span>
                                </p>
                                <div class="auction-card-bttm">
                                    <a href="https://www.bidout-wp.egenslab.com/product/havit-hv-g61-usb-black-double-game-vibrat/" data-quantity="1" class="button product_type_auction" data-product_id="613" data-product_sku="" aria-label="Read more about &ldquo;Havit HV-G61 Gamepad&rdquo;" aria-describedby="" rel="nofollow">Bid now</a>															<div class="share-area">
                                        <ul class="social-icons d-flex">
                                            <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://www.bidout-wp.egenslab.com/product/havit-hv-g61-usb-black-double-game-vibrat/"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="http://www.twitter.com/share?url=https://www.bidout-wp.egenslab.com/product/havit-hv-g61-usb-black-double-game-vibrat/"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="https://pinterest.com/pin/create/button/?url=https://www.bidout-wp.egenslab.com/product/havit-hv-g61-usb-black-double-game-vibrat/"><i class="bx bxl-instagram"></i></a></li>
                                            <li><a href="http://www.instagram.com/share?url=https://www.bidout-wp.egenslab.com/product/havit-hv-g61-usb-black-double-game-vibrat/"><i class="bx bxl-pinterest"></i></a></li>
                                        </ul>
                                        <div>
                                            <div class="share-btn"><i class='bx bxs-share-alt'></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>				<div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="eg-card auction-card1">
                            <div class="auction-img">
                                <img loading="lazy" width="600" height="600" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-15-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-15-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-15-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />													<div class="auction-timer">
                                    <div class="auction-time">
                                        <div class="main-auction auction-time-countdown" data-time="1735603200" data-auctionid="611" data-format="dHMS"></div>
                                    </div>
                                </div>

                                <div class="author-area">
                                    <div class="author-emo">
                                        <img alt='' src='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=30&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=60&#038;d=mm&#038;r=g 2x' class='avatar avatar-30 photo' height='30' width='30' decoding='async' />
                                    </div>
                                    <div class="author-name">
                                        <a href="https://www.bidout-wp.egenslab.com/store/egenslab/">
                                            Egens Lab
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="auction-content">
                                <a href="https://www.bidout-wp.egenslab.com/product/brand-new-honda-cbr-600-special-sale-2022/"><h2 class="woocommerce-loop-product__title">Honda CBR 600 (2022)</h2></a>
                                <p>
                                    <span class="price"><span class="auction-price current-bid" data-auction-id="611" data-bid="3050" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount">3,050.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span></span>
                                </p>
                                <div class="auction-card-bttm">
                                    <a href="https://www.bidout-wp.egenslab.com/product/brand-new-honda-cbr-600-special-sale-2022/" data-quantity="1" class="button product_type_auction" data-product_id="611" data-product_sku="" aria-label="Read more about &ldquo;Honda CBR 600 (2022)&rdquo;" aria-describedby="" rel="nofollow">Bid now</a>															<div class="share-area">
                                        <ul class="social-icons d-flex">
                                            <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://www.bidout-wp.egenslab.com/product/brand-new-honda-cbr-600-special-sale-2022/"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="http://www.twitter.com/share?url=https://www.bidout-wp.egenslab.com/product/brand-new-honda-cbr-600-special-sale-2022/"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="https://pinterest.com/pin/create/button/?url=https://www.bidout-wp.egenslab.com/product/brand-new-honda-cbr-600-special-sale-2022/"><i class="bx bxl-instagram"></i></a></li>
                                            <li><a href="http://www.instagram.com/share?url=https://www.bidout-wp.egenslab.com/product/brand-new-honda-cbr-600-special-sale-2022/"><i class="bx bxl-pinterest"></i></a></li>
                                        </ul>
                                        <div>
                                            <div class="share-btn"><i class='bx bxs-share-alt'></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>				<div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="eg-card auction-card1">
                            <div class="auction-img">
                                <img loading="lazy" width="600" height="600" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />													<div class="auction-timer">
                                    <div class="auction-time">
                                        <div class="main-auction auction-time-countdown" data-time="1735603200" data-auctionid="617" data-format="dHMS"></div>
                                    </div>
                                </div>

                                <div class="author-area">
                                    <div class="author-emo">
                                        <img alt='' src='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=30&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=60&#038;d=mm&#038;r=g 2x' class='avatar avatar-30 photo' height='30' width='30' decoding='async' />
                                    </div>
                                    <div class="author-name">
                                        <a href="https://www.bidout-wp.egenslab.com/store/egenslab/">
                                            Egens Lab
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="auction-content">
                                <a href="https://www.bidout-wp.egenslab.com/product/iphone-13-pro-max-used/"><h2 class="woocommerce-loop-product__title">IPhone 13 Pro Max Used</h2></a>
                                <p>
                                    <span class="price"><span class="auction-price current-bid" data-auction-id="617" data-bid="3699" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount">3,699.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span></span>
                                </p>
                                <div class="auction-card-bttm">
                                    <a href="https://www.bidout-wp.egenslab.com/product/iphone-13-pro-max-used/" data-quantity="1" class="button product_type_auction" data-product_id="617" data-product_sku="" aria-label="Read more about &ldquo;IPhone 13 Pro Max Used&rdquo;" aria-describedby="" rel="nofollow">Bid now</a>															<div class="share-area">
                                        <ul class="social-icons d-flex">
                                            <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://www.bidout-wp.egenslab.com/product/iphone-13-pro-max-used/"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="http://www.twitter.com/share?url=https://www.bidout-wp.egenslab.com/product/iphone-13-pro-max-used/"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="https://pinterest.com/pin/create/button/?url=https://www.bidout-wp.egenslab.com/product/iphone-13-pro-max-used/"><i class="bx bxl-instagram"></i></a></li>
                                            <li><a href="http://www.instagram.com/share?url=https://www.bidout-wp.egenslab.com/product/iphone-13-pro-max-used/"><i class="bx bxl-pinterest"></i></a></li>
                                        </ul>
                                        <div>
                                            <div class="share-btn"><i class='bx bxs-share-alt'></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>				<div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="eg-card auction-card1">
                            <div class="auction-img">
                                <img loading="lazy" width="600" height="600" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-13-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-13-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-13-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />													<div class="auction-timer">
                                    <div class="auction-time">
                                        <div class="main-auction auction-time-countdown" data-time="1735603200" data-auctionid="632" data-format="dHMS"></div>
                                    </div>
                                </div>

                                <div class="author-area">
                                    <div class="author-emo">
                                        <img alt='' src='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=30&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=60&#038;d=mm&#038;r=g 2x' class='avatar avatar-30 photo' height='30' width='30' decoding='async' />
                                    </div>
                                    <div class="author-name">
                                        <a href="https://www.bidout-wp.egenslab.com/store/egenslab/">
                                            Egens Lab
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="auction-content">
                                <a href="https://www.bidout-wp.egenslab.com/product/leather-digital-watch/"><h2 class="woocommerce-loop-product__title">Leather Digital Watch</h2></a>
                                <p>
                                    <span class="price"><span class="auction-price starting-bid" data-auction-id="632" data-bid="" data-status="running"><span class="current auction">Starting bid:</span> <span class="woocommerce-Price-amount amount">615.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span></span>
                                </p>
                                <div class="auction-card-bttm">
                                    <a href="https://www.bidout-wp.egenslab.com/product/leather-digital-watch/" data-quantity="1" class="button product_type_auction" data-product_id="632" data-product_sku="" aria-label="Read more about &ldquo;Leather Digital Watch&rdquo;" aria-describedby="" rel="nofollow">Bid now</a>															<div class="share-area">
                                        <ul class="social-icons d-flex">
                                            <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://www.bidout-wp.egenslab.com/product/leather-digital-watch/"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="http://www.twitter.com/share?url=https://www.bidout-wp.egenslab.com/product/leather-digital-watch/"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="https://pinterest.com/pin/create/button/?url=https://www.bidout-wp.egenslab.com/product/leather-digital-watch/"><i class="bx bxl-instagram"></i></a></li>
                                            <li><a href="http://www.instagram.com/share?url=https://www.bidout-wp.egenslab.com/product/leather-digital-watch/"><i class="bx bxl-pinterest"></i></a></li>
                                        </ul>
                                        <div>
                                            <div class="share-btn"><i class='bx bxs-share-alt'></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>				<div class="col-xl-4 col-md-6 col-sm-12">
                        <div class="eg-card auction-card1">
                            <div class="auction-img">
                                <img loading="lazy" width="600" height="600" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/markus-spiske-fpTVkXjxL_Y-unsplash-1-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/markus-spiske-fpTVkXjxL_Y-unsplash-1-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/markus-spiske-fpTVkXjxL_Y-unsplash-1-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />													<div class="auction-timer">
                                    <div class="auction-time">
                                        <div class="main-auction auction-time-countdown" data-time="1735603200" data-auctionid="1117" data-format="dHMS"></div>
                                    </div>
                                </div>

                                <div class="author-area">
                                    <div class="author-emo">
                                        <img alt='' src='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=30&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/be41a52b1fd1b15d04c239e4517512bf?s=60&#038;d=mm&#038;r=g 2x' class='avatar avatar-30 photo' height='30' width='30' decoding='async' />
                                    </div>
                                    <div class="author-name">
                                        <a href="https://www.bidout-wp.egenslab.com/store/egenslab/">
                                            Egens Lab
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="auction-content">
                                <a href="https://www.bidout-wp.egenslab.com/product/macbook-pro-2018/"><h2 class="woocommerce-loop-product__title">Macbook Pro 2018</h2></a>
                                <p>
                                    <span class="price"><span class="auction-price current-bid" data-auction-id="1117" data-bid="1199" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount">1,199.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span></span>
                                </p>
                                <div class="auction-card-bttm">
                                    <a href="https://www.bidout-wp.egenslab.com/product/macbook-pro-2018/" data-quantity="1" class="button product_type_auction" data-product_id="1117" data-product_sku="" aria-label="Read more about &ldquo;Macbook Pro 2018&rdquo;" aria-describedby="" rel="nofollow">Bid now</a>															<div class="share-area">
                                        <ul class="social-icons d-flex">
                                            <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://www.bidout-wp.egenslab.com/product/macbook-pro-2018/"><i class="bx bxl-facebook"></i></a></li>
                                            <li><a href="http://www.twitter.com/share?url=https://www.bidout-wp.egenslab.com/product/macbook-pro-2018/"><i class="bx bxl-twitter"></i></a></li>
                                            <li><a href="https://pinterest.com/pin/create/button/?url=https://www.bidout-wp.egenslab.com/product/macbook-pro-2018/"><i class="bx bxl-instagram"></i></a></li>
                                            <li><a href="http://www.instagram.com/share?url=https://www.bidout-wp.egenslab.com/product/macbook-pro-2018/"><i class="bx bxl-pinterest"></i></a></li>
                                        </ul>
                                        <div>
                                            <div class="share-btn"><i class='bx bxs-share-alt'></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>					<!-- Shop pagination -->
           
            <!-- end pagination  -->

        </div>
        <div class="col-md-12 col-lg-3 col-xl-3">
            <div class="widget-area">
                <div id="block-37" class="shop-widget-item widget_block widget_search">
                    <form role="search" method="get" action="https://www.bidout-wp.egenslab.com/" class="wp-block-search__button-outside wp-block-search__icon-button wp-block-search">
                        <label class="wp-block-search__label" for="wp-block-search__input-1">Search Products</label><div class="wp-block-search__inside-wrapper ">
                            <input class="wp-block-search__input" id="wp-block-search__input-1" placeholder="Search products…" value="" type="search" name="s" required /><input type="hidden" name="post_type" value="product" /><button aria-label="Search" class="wp-block-search__button has-icon wp-element-button" type="submit">
                                <svg class="search-icon" viewBox="0 0 24 24" width="24" height="24">
                                    <path d="M13 5c-3.3 0-6 2.7-6 6 0 1.4.5 2.7 1.3 3.7l-3.8 3.8 1.1 1.1 3.8-3.8c1 .8 2.3 1.3 3.7 1.3 3.3 0 6-2.7 6-6S16.3 5 13 5zm0 10.5c-2.5 0-4.5-2-4.5-4.5s2-4.5 4.5-4.5 4.5 2 4.5 4.5-2 4.5-4.5 4.5z"></path>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div><div id="woocommerce_products-4" class="shop-widget-item woocommerce widget_products">
                    <div class="shop-widget-title"><h3>Recent Products</h3></div><ul class="product_list_widget">
                        <li>

                            <a href="https://www.bidout-wp.egenslab.com/product/couple-wedding-ring/">
                                <img loading="lazy" width="600" height="600" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-14-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-14-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/10/Image-14-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />		<span class="product-title">Couple Wedding Ring</span>
                            </a>


                            <span class="auction-price current-bid" data-auction-id="1637" data-bid="3269" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount">3,269.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span>
                        </li>
                        <li>

                            <a href="https://www.bidout-wp.egenslab.com/product/alarm-clock-1990s/">
                                <img loading="lazy" width="600" height="600" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/eric-prouzet-WTteoDYo4do-unsplash-1-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/eric-prouzet-WTteoDYo4do-unsplash-1-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/eric-prouzet-WTteoDYo4do-unsplash-1-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />		<span class="product-title">Alarm Clock 1990's</span>
                            </a>


                            <span class="auction-price current-bid" data-auction-id="1122" data-bid="343" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount">343.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span>
                        </li>
                        <li>

                            <a href="https://www.bidout-wp.egenslab.com/product/premium-1998-typewriter/">
                                <img loading="lazy" width="600" height="600" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/katrin-hauf-jpkvklXwt98-unsplash-1-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/katrin-hauf-jpkvklXwt98-unsplash-1-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/katrin-hauf-jpkvklXwt98-unsplash-1-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />		<span class="product-title">Premium 1998 Typewriter</span>
                            </a>


                            <span class="auction-price current-bid" data-auction-id="1121" data-bid="560" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount">560.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span>
                        </li>
                        <li>

                            <a href="https://www.bidout-wp.egenslab.com/product/macbook-pro-2018/">
                                <img loading="lazy" width="600" height="600" src="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/markus-spiske-fpTVkXjxL_Y-unsplash-1-600x600.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" decoding="async" srcset="https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/markus-spiske-fpTVkXjxL_Y-unsplash-1-600x600.jpg 600w, https://bidout-wp.b-cdn.net/wp-content/uploads/2022/11/markus-spiske-fpTVkXjxL_Y-unsplash-1-150x150.jpg 150w" sizes="(max-width: 600px) 100vw, 600px" />		<span class="product-title">Macbook Pro 2018</span>
                            </a>


                            <span class="auction-price current-bid" data-auction-id="1117" data-bid="1199" data-status="running"><span class="current auction">Current bid:</span> <span class="woocommerce-Price-amount amount">1,199.0<span class="woocommerce-Price-currencySymbol">&#036;</span></span></span>
                        </li>
                    </ul>
                </div><div id="block-38" class="shop-widget-item widget_block"><div class="shop-widget-title"><h3>Categories</h3></div><div class="wp-widget-group__inner-blocks"><div data-block-name="woocommerce/product-categories" class="wp-block-woocommerce-product-categories wc-block-product-categories is-list " style=""><ul class="wc-block-product-categories-list wc-block-product-categories-list--depth-0">				<li class="wc-block-product-categories-list-item">					<a style="" href="https://www.bidout-wp.egenslab.com/product-category/accessories/"><span class="wc-block-product-categories-list-item__name">Accessories</span></a><span class="wc-block-product-categories-list-item-count"><span aria-hidden="true">11</span><span class="screen-reader-text">11 products</span></span>				</li>							<li class="wc-block-product-categories-list-item">					<a style="" href="https://www.bidout-wp.egenslab.com/product-category/antiques/"><span class="wc-block-product-categories-list-item__name">Antiques</span></a><span class="wc-block-product-categories-list-item-count"><span aria-hidden="true">1</span><span class="screen-reader-text">1 product</span></span>				</li>							<li class="wc-block-product-categories-list-item">					<a style="" href="https://www.bidout-wp.egenslab.com/product-category/cars/"><span class="wc-block-product-categories-list-item__name">Cars</span></a><span class="wc-block-product-categories-list-item-count"><span aria-hidden="true">2</span><span class="screen-reader-text">2 products</span></span>				</li>							<li class="wc-block-product-categories-list-item">					<a style="" href="https://www.bidout-wp.egenslab.com/product-category/electronics/"><span class="wc-block-product-categories-list-item__name">Electronics</span></a><span class="wc-block-product-categories-list-item-count"><span aria-hidden="true">5</span><span class="screen-reader-text">5 products</span></span>				</li>							<li class="wc-block-product-categories-list-item">					<a style="" href="https://www.bidout-wp.egenslab.com/product-category/fashion/"><span class="wc-block-product-categories-list-item__name">Fashion</span></a><span class="wc-block-product-categories-list-item-count"><span aria-hidden="true">5</span><span class="screen-reader-text">5 products</span></span>				</li>							<li class="wc-block-product-categories-list-item">					<a style="" href="https://www.bidout-wp.egenslab.com/product-category/music/"><span class="wc-block-product-categories-list-item__name">Music</span></a><span class="wc-block-product-categories-list-item-count"><span aria-hidden="true">1</span><span class="screen-reader-text">1 product</span></span>				</li>							<li class="wc-block-product-categories-list-item">					<a style="" href="https://www.bidout-wp.egenslab.com/product-category/trading-cards/"><span class="wc-block-product-categories-list-item__name">Trading Cards</span></a><span class="wc-block-product-categories-list-item-count"><span aria-hidden="true">1</span><span class="screen-reader-text">1 product</span></span>				</li>							<li class="wc-block-product-categories-list-item">					<a style="" href="https://www.bidout-wp.egenslab.com/product-category/vehicles/"><span class="wc-block-product-categories-list-item__name">Vehicles</span></a><span class="wc-block-product-categories-list-item-count"><span aria-hidden="true">2</span><span class="screen-reader-text">2 products</span></span>				</li>							<li class="wc-block-product-categories-list-item">					<a style="" href="https://www.bidout-wp.egenslab.com/product-category/virtual_worlds/"><span class="wc-block-product-categories-list-item__name">Virtual Worlds</span></a><span class="wc-block-product-categories-list-item-count"><span aria-hidden="true">1</span><span class="screen-reader-text">1 product</span></span>				</li>							<li class="wc-block-product-categories-list-item">					<a style="" href="https://www.bidout-wp.egenslab.com/product-category/watches/"><span class="wc-block-product-categories-list-item__name">Watches</span></a><span class="wc-block-product-categories-list-item-count"><span aria-hidden="true">1</span><span class="screen-reader-text">1 product</span></span>				</li>			</ul></div></div></div>
            </div>
        </div>

        <!-- WooCommerce Default sidebar  -->
    </div>
    </main>
</div>

