
@{
    ViewBag.Title = "Announcement";
}

<h2>Announcement</h2>
<div class="card">
    <form method="get">
        <label>Message</label>
        <textarea name="message" id="message" class=" form-control"></textarea>
        <label>Subject</label>
        <input type="text" name="subject" />
        <button type="submit">Send to Everyone </button>

    </form>
</div>

