
@{
    ViewBag.Title = "Announcement";
}

<h4>Announcement (Email Will Sent to All Registered Users)</h4>
<div class="card" style="padding: 10px">
    <form method="get">
        <label>Message</label>
        <textarea name="message" id="message" class=" form-control"></textarea>
        <br />
        <label>Subject</label>
        <input class="form-control" type="text" name="subject" /><br />
        <button class="btn btn-secondary" type="submit">Announce</button>

    </form>
</div>

