@model List<Auctisafe.ViewModel.TransactionViewmodel>
@{
    ViewBag.Title = "Transactions";
}

<h2>Transactions</h2>

<br />
<div class="card" style="padding: 10px">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Transaction Reciept</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="~/Admin/DownloadImage?image=@item.transaction.TransactionImage" >Download Image</a></td>
                    <td>@item.pay.Bid_Amount</td>
                    <td>
                        <a type="button" href="~/Admin/Userdetail?id=@item.pay.WinnerID" class="btn btn-secondary btn-sm">Winner Details</a>
                        <a type="button" href="~/Admin/Userdetail?id=@item.pay.AuctioneerID" class="btn btn-success btn-sm">Auctioneer Details</a>
                        <a class="btn btn-secondary btn-sm" href="~/Admin/ProductDetails?id=@item.pay.ProductID">Product Details</a>
                        <a class="btn btn-secondary btn-sm" href="~/Admin/Approve?id=@item.transaction.ID" >Approve Payment</a>
                        <a class="btn btn-danger btn-sm" href="~/Admin/Reject?id=@item.transaction.ID">Reject Payment</a>

                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

