
@{
    ViewBag.Title = "Users";
}

<h1>User & their Details</h1>
<hr />
<br />
<table>
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>
        <tr>

        </tr>
    </thead>
</table>
